{% extends "./base.html" %}

{% block content -%}
<style>
  .img {
    display: block;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
  }
  .meta {
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    border: 1px dotted #ddd;
  }
</style>
{% for m in metas -%}
  <div class="img">{{- k }}
  <img style="margin-left:1rem" src="data:image/webp;base64,{{ m['thumb'] }}">
  <p class="meta">{{ m['p'] }}</p>
  {% for k, val in m.items() -%}
    {%- if k not in ('p', 'thumb') -%}
    <div class="meta">{{- k }} =
      {%- if k == 'dominant-colors' -%}
        {%- for c in val -%}
          <p style="background-color:{{ c }}">{{ c }}</p>
        {% endfor %}
      {% else %}
        {{ val }}
      {% endif %}
    </div>
    {% endif %}
  {% endfor -%}
  </div>
{% endfor -%}
{% endblock -%}
