{% extends "./base.html" %}

{% block content -%}
<style>
  body {
    padding-top: 1rem;
  }
  .masonry {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) );
    grid-auto-rows: 250px;
  }
  .col--2x {
    grid-row-end: span 2;
  }
  .col--3x {
    grid-row-end: span 3;
  }
  .masonry-item {
    overflow: hidden;
  }
</style>
<div class="masonry">
{% for img in imgs -%}
  <div class="masonry-item">
    <a href="{{ img.attrs['data-pth'] }}">{{ img| safe }}</a>
  </div>
{% endfor -%}
</div>
{% endblock -%}
