{% extends "./base.html" %}

{% block content -%}
<style>
  div.meta {
    display: block;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px dotted #ccc;
  }
</style>
{% for k, val in meta.items() -%}
  <div class="meta">{{- k }} =
    {%- if k == 'thumb' -%}
      <img style="margin-left:1rem" src="data:image/webp;base64,{{ val }}">
    {%- elif k == 'dominant-colors' -%}
    {%- for c in val -%}
      <p style="background-color:{{ c }}">{{ c }}</p>
    {% endfor %}
    {% else %}
    {{ val }}
    {% endif %}
  </div>
{% endfor -%}
{% endblock -%}
