name: Tests

on: [push]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.14

    - name: Setup submodules
      run: |
        git submodule update --init --recursive

    - name: Run tests
      run: |
        make test

    - name: Run coverage
      run: |
        make coverage

    - name: Lint code
      run: |
        make lint

    - name: Publish coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
